<h1>Listing servers</h1>

<table>
  <tr>
    <th>Nickname</th>
    <th>Address</th>
    <th>Port</th>
    <th>Username</th>
    <th>Password</th>
    <th>Su password</th>
  </tr>

<% @servers.each do |server| %>
  <tr>
    <td><%=h server.nickname %></td>
    <td><%=h server.address %></td>
    <td><%=h server.port %></td>
    <td><%=h server.username %></td>
    <td><%= server.password.blank? ? '' : '****' %></td>
    <td><%= server.su_password.blank? ? '' : '****' %></td>
    <td><%= link_to 'Show', server %></td>
    <td><%= link_to 'Edit', edit_server_path(server) %></td>
    <td><%= link_to 'Destroy', server, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New server', new_server_path %>