<p>
  <b>Nickname:</b>
  <%=h @server.nickname %>
</p>

<p>
  <b>Address:</b>
  <%=h @server.address %>
</p>

<p>
  <b>Port:</b>
  <%=h @server.port %>
</p>

<p>
  <b>Username:</b>
  <%=h @server.username %>
</p>

<p>
  <b>Password:</b>
  <%= @server.password.blank? ? '' : '****' %>
</p>

<p>
  <b>Su password:</b>
  <%= @server.su_password.blank? ? '' : '****' %>
</p>


<%= link_to 'Edit', edit_server_path(@server) %> |
<%= link_to 'Back', servers_path %>