<h1>Editing check_log</h1>

<% form_for(@check_log) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :failed %><br />
    <%= f.check_box :failed %>
  </p>
  <p>
    <%= f.label :output %><br />
    <%= f.text_area :output %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @check_log %> |
<%= link_to 'Back', check_logs_path %>