<h1>Listing check_logs</h1>

<table>
  <tr>
    <th>Time</th>
    <th>Check</th>
    <th>Server</th>
    <th>Status</th>
    <th>Output</th>
  </tr>

<% @check_logs.each do |check_log| %>
  <tr>
    <td><%= check_log.created_at %></td>
    <td><%= check_log.check.nickname %></td>
    <td><%= check_log.server.nickname %></td>
    <td><%= check_log.failed ? 'FAIL' : 'OK' %></td>
    <td><textarea rows="10" cols="100" disabled="1"><%=h check_log.output %></textarea></td>
    <td><%= link_to 'Show', check_log %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New check_log', new_check_log_path %>