<h1>Editing check</h1>

<% form_for(@check) do |f| %>
  <%= f.error_messages %>

  <p> Server(s) to apply this check to:
    <% Server.find(:all).each do |s| %>
      <input type="checkbox" name="server_<%= s.id %>" value="1" <%= @check.servers.include?(s) ? 'CHECKED' : '' %>/> <%= s.nickname %>
    <% end %>
  </p>
  <p> Contact(s) to notify for this check:
    <% Contact.find(:all).each do |c| %>
      <input type="checkbox" name="contact_<%= c.id %>" value="1" <%= @check.contacts.include?(c) ? 'CHECKED' : '' %>/> <%= c.email %>
    <% end %>
  </p>

  <p>
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname %>
  </p>
  <p>
    <%= f.label :execution_code %><br />
    <%= f.text_area :execution_code %>
  </p>
  <p>
    <%= f.label :check_regex %><br />
    <%= f.text_area :check_regex %>
  </p>
  <p>
    <%= f.label :time_between_normal_checks %><br />
    <%= f.text_field :time_between_normal_checks %>
  </p>
  <p>
    <%= f.label :time_between_failed_checks %><br />
    <%= f.text_field :time_between_failed_checks %>
  </p>
  <p>
    <%= f.label :fails_before_notify %><br />
    <%= f.text_field :fails_before_notify %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @check %> |
<%= link_to 'Back', checks_path %>